body {
    background-color: #ffcccc;
}

h2 {
    color: #e17055;
    font-size: 49px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    color: #d63031;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    width: 300px;
}